
.info_side{
    width:60%;
    margin:0 auto;
}
.info_side>h2{
    color: #465072; 
}

.btn_send{
  
     background-color: #465072; 
}


.error_hint{
    color:red;
}


@media (max-width:768px){
    .info_side{
        width:100% !important
    }
}
@media (max-width:320px){
    .map-side{
        overflow:hidden
    }  
}

