

.label_news{
	margin-top: 200px;
	color:#253A5C;

}
.news_item{
	height:496px;
	width:310px;
	overflow:hidden;
	position:relative;
	 box-shadow: 0px 0px 9px 1px #888888;
}
.news_img{
	height:280px;
	width:310px;
	overflow:hidden;
}
.title{
	
	height:70px;
    overflow:hidden;
	display: block;
	display: -webkit-box;
	max-width: 100%;
	font-size: 16px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.news_text{
	height:90px;
	overflow:hidden;
	display: block;
	display: -webkit-box;
	max-width: 100%;
	font-size: 16px;
   
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.news_date{
	background: #465072;
	top:0;
}
.read_more:hover{
	/* position:absolute; */
	bottom:0;
	border-bottom: 2px solid  #465072;
}
